/* src/components/ProfileDetails.css */
.profile-details {
    padding:7px;
  }
  
  .profile-details h2 {
    margin: 0;
  }
  
  .profile-details p {
    margin: 20px 0;
  }
  .profile-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

.icon-style {
  margin-right: 13px;
  vertical-align: middle;
  font-size: 20px;
}
  
  .profile-item strong {
    flex: 0 0 auto;
    margin-right: 130px; /* Adds space between label and email */
  }
  .profile-item {
    display: flex;        /* Enable flexbox layout */
    align-items: center;  /* Align items vertically in the center */
    margin-bottom: 20px;  /* Space between each item ***/
}

.profile-item strong {
    width: 100px;         /* Fixed width for the labels */
    text-align: left;     /* Align text to the left */
}

.profile-item .space {
    flex: 1;              /* Take up the remaining space */
    text-align: left;     /* Align text to the left */
}
  
 
.space {
  flex: 0 0 auto; /* Keeps the value from stretching */
  width: 80%; /* Width for consistent alignment */
  text-align: left; /* Align text to the right */
  flex-grow: 1;
  margin-left: 3px;
}

  
  
  .status-active {
    color: green;
    font-weight: bold;
  }

  .profile-details hr {
    margin: 20px 0;  /* Adjust margin as needed */
    border: none; /* Remove default border */
    border-top: 2px solid #ddd; /* Add custom border styles */
    width: 300%; /* Set the width to 100% */
  }
  
  