/* src/components/YourActivities.css */
.your-activities {
    padding: 325px; /* Adjust padding as needed */
    position: relative;
    right: 940px; /* Adjust value to move content left */
  }
  
  .your-activities h3 {
    margin: 0 0 5px 0; /* Reduced margin to add a bit of space after the heading */
    font-size: 1.2em; /* Adjust font size if necessary */
  }
  
  .profile-item1 {
    display: flex;
    justify-content: space-between; /* Space between elements */
    margin-bottom: 26px;
  }
  
  .profile-item1 strong {
    flex: 0 0 auto; /* Keeps the label from stretching */
    width: 170%; /* Width for consistent alignment */
    text-align: left; /* Align text to the left */
  }
  
  .space1 {
    flex: 0 0 auto; /* Keeps the value from stretching */
    width: 100%; /* Width for consistent alignment */
    text-align: left; /* Align text to the right */
  }
  
  
  .activity-time {
    font-size: 0.8em; /* Reduced font size */
    color: gray;
  }
  
  .your-activities hr {
    margin: 40px 0;  /* Adjust margin as needed */
    border: none; /* Remove default border */
    border-top: 2px solid #ddd; /* Add custom border styles */
    width: 600%; /* Set the width to 100% */
  }
  