/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
}

.profile-container {
  display: flex;
  flex-direction: column; /* Default to column for mobile view */
  align-items: center; /* Center align items in column layout */
}

.profile-container > div {
  flex: 1;
  margin: 30px;
  width: 100%; /* Ensure items take full width in column layout */
}

/* Media query for tablets and larger screens */
@media (min-width: 768px) {
  .profile-container {
    flex-direction: row; /* Switch to row layout */
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start in row layout */
  }

  .profile-container > div {
    margin: 15px; /* Reduce margin for larger screens */
    width: auto; /* Reset width to auto for row layout */
  }
}

/* Media query for larger desktops */
@media (min-width: 1200px) {
  .profile-container > div {
    margin: 30px; /* Restore original margin for larger screens */
  }
}
