.App {
  font-family: Arial, sans-serif;
  max-width: 1600px;
  margin: 0 auto;
  padding: 17px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-container > div {
  flex: 1;
}
@media (min-width: 768px) {
  .profile-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .profile-container > div {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .profile-container > div {
    margin: 0px;
  }
}